<div class="container">
    <div class="row">
        <div class="col-4-lg " *ngFor="let item of lista">
            <!-- Bootstrap Card -->
            <div class="card" style="width:18rem;">
                <img src="../../../../assets/img/womu.jpg"  alt="Card One" class ="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Photography</h5>
                    <p class="card-text">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </p>
                    <a href="#" class="btn btn-primary">Read...</a>
                </div>
            </div>
        </div>
        
    </div>
</div>