
.card:hover{
    -webkit-box-shadow:-1px 9px 40px -12px rgb(245, 247, 252);
    -moz-box-shadow:-1px 9px 40px -12px rgba(245, 247, 252);
    box-shadow:-1px 9px 40px -12px rgba(245, 247, 252);
}

.card-img-top {
    width: 100%;
    height: 13vw;
    object-fit: cover;
}
.div1 {
    background: rgb(104, 7, 7);
}